<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Computadoras</title>
</head>
<body>
	<header>
		 <h3 align = "center" class="text-info table-danger"
			style="margin-right: 300px; margin-left:300px;">
		 Estudiante: Reyes Adan Areli<br>
		 Materia: Desarrollo De Aplicaciones Web<br>
		 Número de control: 161130285</h3><br><br>
    </header>
	<h1 class="p-2 mb-2 bg-danger text-white" align="center">Computadoras Registradas:</h1><br>
	<table class="table table-sm table-dark">
		<thead class="table-danger" style="color:black;">
			<tr >
				<th>No. Serie</th>
				<th>Marca</th>
				<th>Procesador</th>
				<th>Sistema Operativo</th>
				<th>RAM</th>
				<th>No. Núcleos</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="computadoras :${computadoras}">
				<td th:text="${computadoras.NoSerie}"></td>
				<td th:text="${computadoras.Marca}"></td>
				<td th:text="${computadoras.Procesador}"></td>
				<td th:text="${computadoras.SistemaOperativo}"></td>
				<td th:text="${computadoras.Ram}"></td>
				<td th:text="${computadoras.NoNucleos}"></td>		
			</tr>
		</tbody>
	</table>
	<br><h2><a th:href="@{/examenUnidad2/}">Volver al menú</a></h2>	
</body>
</html>